html,body{
	margin: 0;
    top: 0;
    left: 0;

    
}
body{
	overflow-x: hidden;
}
.box1{
	max-width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom left, #6C63FF,#E14FBF);
	
	
}
.box1 img{
	position: absolute;
	top:5vh;
	left: 5vw;
	padding: 1vw;
	width: 12vw;
	height: 12vh;
}

 
ul{
	list-style-type: none;
	padding-left: 70%;

}
	
 li{
	font-family: Arca Majora 3;
	float: left;
	color: #ffffff;
	padding: 2%;
	font-size: 1.2em;
	
}
a:link{
	text-decoration: none;
}

a{
	color: #ffffff;
	padding:1%;
	text-align:left;
}
a:hover{
color: coral;
}
a:active{
	text-decoration: underline;
}


.box2 p{
	height: auto;
	width: 20vw;
	color: #ffffff;
	padding:5%;
	font-size: 1.5em;
	font-family: Arca Majora;
	position: relative;
	top: 35vh;
	
}
.box3 h6{
      font-size: 5em;
      transform: rotate(90deg);
      position:relative;
      top:100vh;
      left: 40vw;
      color:#BFD3F9;
      word-spacing: 5vw;
      letter-spacing: 0.5vw;
      
}
.group{
	background: url("2.png");
	background-size: contain;
	background-repeat: no-repeat; 
	position: absolute;
	top: 30vh;
	right: 12vw;
	height: 220vh;
	width: 45vw;
	z-index: 10;


}
.box3 h3{
	font-size: 50px;
	position: absolute;
	top: 100vh;
	left: 40vw;
	font-family: Arca Majora 3;
	color: blue;
	text-align:center;
	
	
}
.box4 h3{
	color: blue;
	padding-left:8vw;
	position: absolute;
	top: 125vh;
	left: 2vw;
	font-size:3em;
	text-decoration: underline;
	
}
.box4 img{
	float: right;
	height: 30vh;
	width: 30vw;
	overflow: hidden;
	position: absolute;
	top:135vh;
	left:55vw;
	
}
.box4 p{
	width: 18vw;
	height: auto;
	position: absolute;
	padding-top: 2vw;
	padding-left:10vw;
	top: 135vh;
	color: blue;
	font-size: 1.5em;
	
}
.box5 h3{
	color: blue;
	
	
	position: relative;
	top:19vh;
	left: 25vw;
	font-size: 3em;
	text-decoration: underline;
	
}
.box5 img{
	float: left;
	height:30vh;
	width: 30vw;
	position: relative;
	top:13vh;
    left: 10vw;
    
    }
.box5 p{
	width: 18vw;
	height: auto;
	position: relative;
	padding-right: 20vw;
	padding-top: 1.5vw;
	float: right;
	top: 12vh;
	color: blue;
	text-align: right;
	font-size: 1.5em;
	
}
.box6 h3{
	color: blue;
	padding-left: 10vw;
	position: absolute;
	top: 230vh;
	left:2vw; 
	font-size: 3em;
	text-decoration: underline;
	
}
.box6 img{
	float: right;
	height: 35vh;
	width: 30vw;
	position:absolute;
	top:238vh;
	left: 50vw;
	
}
.box6 p{
    width: 18vw;
	height: auto;
	position: absolute;
	padding-left: 10vw;
	padding-top: 2vw;
	top:240vh;
	left: 2vw;
	color: blue;
	text-align: left;
	float: left;
	

}
.box7 h3{
	color:blue;
	
	
	position: absolute;
	top:275vh;
	left: 68vw;
	font-size: 3em;
	text-decoration: underline;
	
}
.box7 img{
   float: left;
   
	height:35vh;
	width: 30vw;
	position: absolute;
	top: 290vh;
	
    
}
.box7 p{

    width: 200px;
	height: auto;
	position: absolute;
	left: 65vw;
	
	top: 287vh;
	color: blue;
	text-align: right;
	
}
.box8{
	position: relative;
	top:150vh;
	width:100vw;
	height: 70vh;
	background: linear-gradient(to bottom left, #6C63FF,#E14FBF);
	
	
}
.footer{
	position: relative;
	top: 120vh;
	left:60vw;
	padding: 5vw;
}
.footer button{
    border-radius: 8px;
    background: linear-gradient(to bottom left, #6C63FF,#E14FBF);
    width: 7vw;
    height: 2vw;
    border:2px,solid white;
    color: white;
    text-align: left;
}
.footer i{
	size: 2px;
	position: absolute;
	top:8vh;
	left:20vw;
	float: left;

}
.box9
	img{
	position: absolute;
	top:370vh;
	left: 5vw;
	padding: 1vw;
	width: 12vw;
	height: 12vh;
	}


.image i{
	color:#333333;
	font-size: 2em;
	padding: 0.5vh;
	
}
.circle{
     height: 15px;
     width:15px;
     background-color: white;
     border-radius: 50%;
     display:inline-block;
     float: right;
     color: black;
}
i:hover{
	color: #FF1493;
}
.image{
	position: relative;
	top: 80vh;
	left: 95vw;
	width: 1vw;
	height: 4vh;

}